<div class="page-header" ng-if="ctrl.pageReady">
  <h1> Advanced Analysis Center </h1>
</div>



<title>Vizuly - Corona</title>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto|Raleway:600,400,200' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="public/plugins/flexscada-app/css/analysis.css">
<link rel="stylesheet" href="public/plugins/flexscada-app/css/vizuly.css">
<link rel="stylesheet" href="public/plugins/flexscada-app/css/dygraph.min.css">


<!-- Test Index Files -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="row">
  <div class="col-lg-7">
    <div id="fft" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-lg-5">
    <div ng-include src="'public/plugins/flexscada-app/components/analysis/partials/frequencySelection.html'"></div>
  </div>
</div>



<hr>

<div id="bin_amplitude" style="width:100%; height:400px;"></div>
<button type="submit" class="btn btn-primary" ng-click="ctrl.loadRaw(1, 131072)">Update Scope</button>
<button type="submit" class="btn btn-primary" ng-click="ctrl.loadFFT(1, 131072)">Update FFT</button

<hr>
<h2>Radial Analysis</h2>
<br>

<div class="gf-form-inline">

  <div class="gf-form">
    <span class="gf-form-label width-12">Theme</span>
    <div class="gf-form-select-wrapper">
      <select class="gf-form-input gf-size-auto" ng-init="ctrl.config.radialTheme = ctrl.radialThemes[0].value" ng-change="ctrl.updateRadialTheme()" ng-model="ctrl.config.radialTheme" ng-options="f.value as f.text for f in ctrl.radialThemes" ng-change="ctrl.refresh()"></select>
    </div>
  </div>


  <div class="gf-form">
    <span class="gf-form-label width-12">Layout</span>
    <div class="gf-form-select-wrapper">
      <select ng-init="ctrl.config.radialLayout = ctrl.radialLayouts[0].value" class="gf-form-input gf-size-auto" ng-change="ctrl.updateRadialLayout()" ng-model="ctrl.config.radialLayout" ng-options="f.value as f.text for f in ctrl.radialLayouts" ng-change="ctrl.refresh()"></select>
    </div>
  </div>



</div>


<div id="radial_viz_element"></div>
