<form name="editForm">
	<div class="gf-form-group">

		<p>If you did not receive your account key please <a href="https://flexscada.com/contact-us/">contact us</a>.</p>
		<div class="gf-form">
			<label class="gf-form-label width-12">Account Key</label>
			<input type="password" class="gf-form-input max-width-24" ng-model="ctrl.appModel.secureJsonData.apiKey" ng-if="!ctrl.appModel.jsonData.apiKeySet" required>
			<input type="text" class="gf-form-input max-width-12" disabled="disabled" value="complete" ng-if="ctrl.appModel.jsonData.apiKeySet">
			<div class="gf-form">
				<a class="btn btn-danger btn-small" href="#" ng-click="ctrl.reset()" ng-if="ctrl.appModel.jsonData.apiKeySet">reset</a>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.appModel.jsonData.apiKeySet && ctrl.validKey" class="fs-enabled-box">
		<i class="icon-gf icon-gf-check fs-icon-success"></i> Flexscada is enabled. <strong>Next up: </strong><a href="/flexscada-app/page/device-config" class="external-link">Add a new device</a>
	</div>
	<div ng-if="!ctrl.validKey && ctrl.errorMsg">
		<div class="alert alefs-error">
			<div class="alefs-title ng-binding">Error</div>
			<div>{{ctrl.errorMsg}}</div>
		</div>
	</div>
</form>
