<link rel="stylesheet" href="public/plugins/flexscada-app/css/font-awesome.min.css">
<div ng-if="ctrl.deviceStatus < 2">
  <div class="page-header">
    <h1>Add a new template</h1>
  </div>
</div>


<div ng-if="ctrl.deviceStatus == 2" class="page-header">
  <h1>{{ctrl.config.name}}</h1>
</div>




<!-- New device -->
<div class="gf-form-group" ng-if="ctrl.deviceStatus == 0">

<p>Templates configure how vibration data is processed and analyzed.</p>

  <div class="gf-form-inline">
    <div class="gf-form gf-form--right-margin">
      <label class="gf-form-label width-9">Name</label>
      <input class="gf-form-input max-width-15" type="text" ng-model="ctrl.config.name" required="" placeholder="SKF 34123-311 Roller Bearing">
    </div>
    <!-- Unsubmitted state -->
    <div class="gf-form">
      <button class="btn btn-success" ng-click="ctrl.addTemplate()">Next</button>
    </div>

  </div>

</div>

<div ng-if="ctrl.deviceStatus > 0">
    <div class="gf-form gf-form--right-margin">
      <label class="gf-form-label width-9">Template Name</label>
      <input class="gf-form-input max-width-15" type="text" ng-model="ctrl.config.name" ng-class="{ 'fs-text-box-success' : ctrl.discovered, 'fs-font-shrinker' : ctrl.config.name > 10 }" placeholder="SKF 31212-3112 Roller Bearing">
    </div>

  <div class="gf-form">
    <span class="gf-form-label width-6">Tags:</span>
    <bootstrap-tagsinput ng-if="true" influxtags ng-model="ctrl.config.tags" tagclass="label fs-label-tag" placeholder="Add tags"></bootstrap-tagsinput>
    <!-- <bootstrap-tagsinput ng-if="true" ng-model="ctrl.config.tags" tagclass="label fs-label-tag" placeholder="Add tags"></bootstrap-tagsinput> -->
    <info-popover>Template Tags is an optional but strongly reccomended feature that is useful for sorting and categorization. Tags could be added for manufacturer, type, part number, etc..</info-popover>
  </div>


  <div class="gf-form gf-form--v-stretch">
    <label class="gf-form-label width-9">Notes</label>
    <textarea class="gf-form-input max-width-30" type="textarea" ng-model="ctrl.config.notes"></textarea>
    <info-popover>Describe how this template is to be used, etc.</info-popover>
  </div>


<hr>

    <div class="gf-form">
    <label class="gf-form-label width-9">FFT Bin Width</label>
    <input class="gf-form-input max-width-10" type="number"  ng-model="ctrl.config.fft_bin_size" placeholder="20HZ" >
   <label class="gf-form-label width-3">HZ</label>
    <info-popover>This parameter is used to determine the fft bin count based on the sample rate of processed data, configuring a value of 20hz on a channel that was sampled at 20ksps would result in a fft bin count of 1024 (approx 19.5hz per bin)  Typically values ranging from 5 to 50 would be specified.</info-popover>
  </div>



  <div class="gf-form">
    <span class="gf-form-label width-12">Template Type</span>
    <div class="gf-form-select-wrapper">
      <select class="gf-form-input gf-size-auto" ng-change="ctrl.typeChanged()" ng-init="ctrl.config.type = 0" ng-model="ctrl.config.type" ng-options="f.value as f.label for f in ctrl.templateTypes"></select>
    </div>
  </div>


  <hr>

  <div ng-if="ctrl.config.type == 2">
  <div class="gf-form">
  <label class="gf-form-label width-10">Rolling Elements</label>
  <input class="gf-form-input max-width-10" type="number" ng-model="ctrl.config.parameters.roller_count" placeholder="8" >
  <info-popover>How many balls or rollers in the bearing</info-popover>
</div>


<div class="gf-form">
<label class="gf-form-label width-13">Rolling Element Diameter</label>
<input class="gf-form-input max-width-10" type="number"  ng-model="ctrl.config.parameters.roller_diamater" placeholder="12" >
<label class="gf-form-label width-4">MM</label>
<info-popover>Diameter in MM of the rollers or balls inside the bearing</info-popover>
</div>

<div class="gf-form">
<label class="gf-form-label width-9">Bearing Pitch</label>
<input class="gf-form-input max-width-10" type="number"  ng-model="ctrl.config.parameters.pitch" placeholder="100" >
<label class="gf-form-label width-4">MM</label>
<info-popover>Bearing pitch is the diameter of a circle that goes through the center of each rolling element</info-popover>
</div>
</div>




<div ng-if="ctrl.config.type == 1">
<div class="gf-form">
<label class="gf-form-label width-5">BPFI</label>
<input class="gf-form-input max-width-10" type="number" ng-model="ctrl.config.parameters.bpfi" placeholder="0.5" >
<info-popover>Ball Pass Frequency Inner Race</info-popover>
</div>

<div class="gf-form">
<label class="gf-form-label width-5">BPFO</label>
<input class="gf-form-input max-width-10" type="number" ng-model="ctrl.config.parameters.bpfo" placeholder="0.8" >
<info-popover>Ball Pass Frequency Outer Race</info-popover>
</div>

<div class="gf-form">
<label class="gf-form-label width-5">BTF</label>
<input class="gf-form-input max-width-10" type="number" ng-model="ctrl.config.parameters.btf" placeholder="8" >
<info-popover>Fundamental Train Frequency (Carriage)</info-popover>
</div>

<div class="gf-form">
<label class="gf-form-label width-5">BSF</label>
<input class="gf-form-input max-width-10" type="number" ng-model="ctrl.config.parameters.bsf" placeholder="8" >
<info-popover>Ball Spin Frequency</info-popover>
</div>

</div>









<div ng-include src="'public/plugins/flexscada-app/components/template/partials/measurements.html'"></div>


</div>

<br><br>

<div ng-show="ctrl.deviceStatus == 2" ng-include src="'public/plugins/flexscada-app/components/template/partials/destroyForm.html'"></div>

<div ng-show="ctrl.deviceStatus > 0" class="pull-right">
  <button type="submit" ng-if="ctrl.deviceStatus == 1" class="btn btn-success" ng-click="ctrl.saveTemplate()">Add</button>
  <button type="submit" ng-if="ctrl.deviceStatus == 2" class="btn btn-success" ng-click="ctrl.saveTemplate()">Save</button>
  <a class="btn btn-link" ng-click="ctrl.cancel();">Cancel</a>
</div>
