<div class="gf-form-group" id="destroy">
  <div class="fs-config-box--hit-area" ng-click="ctrl.showDestroy = !ctrl.showDestroy">
    <div class="playlist-column-header section-header-flex-container">
      <h3 class="page-headering">DESTROY</h3>
      <div>
        <a href="#">
          <!-- Configure -->
          <span class="highlight-word"> Expand</span>
          <span><i class="fa fa-caret-down" ng-show="ctrl.showDestroy"></i></span>
          <span><i class="fa fa-caret-right fs-box-accordian-control" ng-hide="ctrl.showDestroy"></i></span>
        </a>
      </div>
    </div>
  </div>
  <form name="destroyDeviceForm">
    <div class="fs-config-box fs-page-box" id="destroy" ng-class="{ 'destroy-open': ctrl.showDestroy }">
      <div>
          <div class="gf-form">
            <i class="icon-gf icon-gf-skull inline-icon"></i>
            <h3 class="inline-header">Delete your alarm</h3>
          </div>
          <div class="device-config-left-margin">
            <p>When an alarm is deleted, we will remove it from your account, however all historical data will still remain on our servers</span>. To have this data completely removed, pease contact us.</p>
            <p>Type DELETE to confirm:</p>
            <div class="gf-form">
              <input class="gf-form-input max-width-21" type="text" required pattern="^[dD][eE][lL][eE][tT][eE]$" ng-model="verifyDelete">
            </div>
            <div class="gf-form-button-row">
              <button type="submit" class="btn btn-danger" ng-disabled="destroyDeviceForm.$invalid" ng-click="ctrl.removeAlarm()">DELETE</button>
              <a class="btn btn-link" ng-click="ctrl.showDestroy = !ctrl.showDestroy">Cancel</a>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>
<!-- End Destroy Section -->
