<div class="page-header" ng-if="ctrl.pageReady">
	<h1>{{ctrl.device.name}}</h1>

	<div class="page-header-tabs">

		<a class="btn btn-link" href="plugins/flexscada-app/page/devices"><i class="fa fa-mail-reply" aria-hidden="true"></i>&nbsp;Back to device list</a>

		<ul class="gf-tabs">
			<li class="gf-tabs-item">
				<a class="gf-tabs-link active" href="plugins/flexscada-app/page/device-details?device={{ctrl.device.uid}}">
					Status
				</a>
			</li>
			<li class="gf-tabs-item" ng-if="ctrl.isOrgEditor">
				<a class="gf-tabs-link" href="plugins/flexscada-app/page/device-config?device={{ctrl.device.uid}}">
					Configuration
				</a>
			</li>
		</ul>
	</div>
</div>


<div ng-if="ctrl.device.type == 2" ng-include src="'public/plugins/flexscada-app/components/device/partials/cdevice_details.html'"></div>
<div ng-if="ctrl.device.type == 1" ng-include src="'public/plugins/flexscada-app/components/device/partials/qdevice_details.html'"></div>
